<form action="/searches/0" method="get">
	<label>Search Twitter</label>
	<input type="text" name="q" />  <!-- 'q' goes into the params hash -->
	<input type="submit" name="submit" value="Search" />
</form>



