<h1>You searched for <%= params[:q] %></h1>
<pre><%= @results.inspect %></pre>

<ul>
<% @results['results'].each do |r| %>
	<li> <%= r['text'] %>, <em><strong> by <%= r['from_user']%></em></strong> </li>
	<% end %>
</ul>
	

